// Typography
$font-family-base: 'Inter', sans-serif;

$primary-color: #4f46e5;
$secondary-color: #111827;
$tertiary-color: #6366f1;
$neutral-color: #f9fafb;
$border-color: #324d67;
$white: #FFFFFF;
$black: #000000;
$danger-color: #fa6238;
$success-color: #0bda5b;
$warning-color: #d6a719;
$success-color-degrade: #a6e9c0;
$danger-color-degrade: #ff453a1a;